# Core ML & Transformers
torch==2.1.0
transformers==4.33.2
datasets==2.14.5
evaluate==0.4.0
huggingface_hub==0.19.4

# FastAPI & Web Serving
fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.5.3

# PDF & OCR
pdf2image==1.16.3
pytesseract==0.3.10
Pillow==10.2.0  # Required by pdf2image and pytesseract

# Data Handling
pandas==2.1.0

# Utilities
python-dotenv==1.0.0
pytest ==8.4.0
# machine learning utilities
scikit-learn==1.4.0
scipy==1.11.4
numpy==1.26.4

# pickle==0.0  # Note: 'pickle' is a built-in module, no need to install