/data
transactions.json
/transactions.json
classified_transactions.json
data


tokenizer.json
model.safetensors
personal_transactions.csv

!model/id2cat.json
!model/tokenizer_config.json
!model/config.json

**/results/
__pycache__/
/__pycache__
*.pyc
*.py[cod]
*$py.class